@import "./type5.css";
@import "./type4.css";
@import "./type3.css";
@import "./type2.css";
@import "./type1.css";

@import "./magazine.css";
@import "./slide.css";
@import "./subscribe.css";

main {
  background-color: white;
  padding: 0.75rem 1rem;
}
.stories-title {
  font-size: 16px;
  font-weight: 700;
  color: #a4a4a4;
  /* margin: 8px; */
  padding: 0.75rem 0;
}

.content {
  padding: 1rem;
}

.newsletter-signup {
  max-width: 300px;
  margin: 0 auto 30px;
  border: 1px solid #e5e5e5;
  background-color: #f4f5f6;
  padding: 20px;
}

.n-title {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
}
.ai-c {
  align-items: center;
}

.n-title .icon-n {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.flex-xs {
  display: flex;
}
.lk {
  display: inline-block;
  padding: 10px 10px 10px 12px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #666;
  margin-bottom: 10px;
}

.lk:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  background: url(https://g.newsweek.com/www/images/icon-arrow-right.svg)
    center/contain no-repeat;
}

.lk-5 {
  color: #333;
  font-weight: bold;
  font-size: 15px;
}

.category-type {
  margin-top: 1rem;
  border-top: 1px solid #e3e3e3;
  padding-top: 1rem;
}

.category-type .type-title {
  padding: 0.5rem 0;
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}
