footer{
  background-color: #fff;
}

.page-footer {
  background-color: white;
  padding-top: 0;
  padding-bottom: 3rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.flex-sm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.flex-sm .brand svg {
  fill: #f72210;
  display: block;
  width: 246px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
}

.social {
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin: 0;
  margin-right: 0.5rem;
}

ul li i {
  font-size: 24px;
}

.page-footer .footer-links {
  border-top: 1px solid #d9d9d9;
  padding-top: 6px;
  line-height: 15px;
  color: #666;
  display: flex;
  flex-wrap: wrap;
}

.page-footer .footer-links ul {
  list-style: none;
  padding: 0;
}

.page-footer .footer-links li {
  border-right: 1px solid #d9d9d9;
  display: inline-block;
  margin: 6px 9;
  cursor: pointer;
  padding-right: 10px;
  margin-right: 10px;
  margin: 6px 0;
}

.menu .leaf {
  display: inline-block;
  color: #d3d3d3;
}

.menu a {
  color: #a3a3a3;
}
