nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0.75rem 0;
  padding-left: 0.5rem;
  display: flex;
  flex-grow: 11;
  height: 24px;
}
nav ul li {
  display: inline-block;
  border-right: 1px solid #646464;
  padding: 0;
  padding-right: 0.5rem;
  flex-grow: 1;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  font-size: 1rem;
  font-weight: 700;
  display: block;
  text-align: center;
  font-family: inherit;
}

.search-block {
  padding: 0.5rem;
  flex-grow: 1;
  position: relative;
}

.search-block .search-input {
  margin-right: 1rem;
  outline: none;
  outline-width: 0;
  border: none;
  width: 100px;
}

.search-block i {
  display: inline-block;
  position: absolute;
  right: 24%;
  padding: 2.8%;
  color: #424242;
}
input:focus {
  outline: none;
}

.search-block .search-input:focus {
}

.slider {
  width: 100%;
  position: relative;
}

.slider ul{
  margin: 0;
  padding: .75rem;
}

.slider ul li {
  display: block;
  padding: .5rem 0;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  cursor: pointer;
  color: black;
}

.slider ul li::after {
  content: "\003e";
  color: #646464;
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.slider ul li:hover {
  background-color: red;
  color: white;
}

.slider ul li a {
  font-weight: 500;
  color: inherit !important;
}

.slider ul li:hover a {
  color: white;
}
