.slide-shows {
  width: 100%;
  margin-top: 4rem;
  text-align: center;
}

.slide-shows .title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1rem;
  position: relative;
}
.slide-shows .title .icon-n {
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  width: 29px;
  height: 28px;
  display: inline-block;
  margin-right: 14px;
  position: relative;
}

.slide-shows .title .icon-n:after{
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    content:  "";
    width: 26px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.slide__show-body {
  position: relative;
  width: 100%;
}

.slide__show-body img {
  width: 100%;
}

.slide__show-body .count-link {
  width: 70px;
  height: 52px;
  display: block;
  bottom: 0;
  position: absolute;
  left: 0;
  font-weight: bold;
  font-size: 20px;
  text-indent: 5px;
  text-align: center;
  line-height: 58px;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png)
    0 0 / contain no-repeat;
  color: #e9212e !important;
}

.slide__show-content {
  width: 100%;
  padding: 0.5rem 0;
}
.slide__show-content h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
